.register_container {
  width: 70vw;
  text-align: center;
  font-size: 1.8rem;
    justify-content: center;
border: 1px solid;
padding: 60px;
border-radius: 25px;
  .input_options {
    min-width: 15vw;
  }
  .errors{
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 4px dashed red;
  }
  .input_custom{
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 4px dashed black;
}
 
}