.container_events{
    justify-content: center;
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    div{
        img{
            max-width: 400px;
        }
    }
}
.container_events_options{
    justify-content: center;
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    
}