@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    /*background*/
    --background-color:rgb(87, 87, 88);
    
    /*fonts*/
    --foont-rubik :'Lobster', sans-serif;

    /*colors*/
    --foont-color:rgb(191, 224, 253);

    /*height-content*/
    --height-main-pages:80vh;

}

@import url('../../../node_modules/bootstrap/scss/bootstrap.scss');